<div class="container">
  <div class="row mt-5">

    <!-- Listado de Personas -->
    <div class="col-lg-8">
      <table class="table table-hover" *ngIf="personas">
        <thead>
          <tr>
            <td>ID</td>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>DNI</td>
            <td>Edad</td>
            <td>Fecha Nac</td>
            <td>Acciones</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let persona of personas">
            <td>
              <span class="badge badge-primary">{{ persona.id }}</span>
            </td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.apellido }}</td>
            <td>{{ persona.dni }}</td>
            <td>{{ persona.edad }}</td>
            <td>{{ persona.fechaNacimiento }}</td>
            <td>
              <button class="btn btn-warning btn-sm ml-2" (click)="loadForm(persona)">Editar</button>
              <button class="btn btn-danger btn-sm ml-2" (click)="delete(persona.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="input-group w-50">
        <input type="number" class="form-control" placeholder="ID" [(ngModel)]="id" />
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="getPersona()">
            Buscar
          </button>
        </div>
      </div>
    </div>

    <!-- Nuevo/Editor de Persona -->
    <div class="col-lg-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Nueva Persona</h5>
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="personaSelected.nombre"
                name="nombre" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="personaSelected.apellido"
                name="apellido" />
            </div>
            <div class="form-group">
              <input type="number" class="form-control" placeholder="DNI" [(ngModel)]="personaSelected.dni"
                name="dni" />
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Fecha de Nacimiento [31/12/2000]"
                [(ngModel)]="personaSelected.fechaNacimiento" name="fechaNacimiento" />
            </div>
          </form>
          <button class="btn btn-primary" type="button" (click)="createOrUpdate()">
            Guardar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>